@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container{
  width: 100px;
  height: 100px;
  margin: 50px;
}

.container {
  display: 10px;
  gap: 10px;
  flex-direction: row; 
  align-items: start;
  margin-bottom: 10px;
  padding-left: 50px;
  border: solid 1px #bbb;
  border-radius: 10px;
  width: 100%;
  font-size: small; 
  
}

